# Ignore all databases, reads, sequences folder because it's too big.
data/databases/*
data/reads/*
data/raw_sequences/*

# Ignore results from blasts
results/blasts/*
results/reads_outputs/*

# Ignore to big logs.
results/log_outputs/outMetaTest.out

