# Ignore all databases, reads, sequences folder because it's too big.
data/databases/*
data/reads/*
data/raw_sequences/*

# Ignore blasts and reads results.
results/blasts/*
results/reads_outputs/*
results/test/*

# Ignore to big logs.
results/log_outputs/outMetaTest.out

# Ignore test
results/old_tests/*
src/old_sources/*

# Ignore notes folder
note/*

# Ignore nohup files
*.out

# Ignore cookie.
cookies

# Ignore .xml file.
*.xml

# Ignore results folder.
results/*

# All txt and csv files.
*.csv
*.txt
