# Ignore all databases, reads, sequences folder because it's too big.
data/databases/*
data/reads/*
data/raw_sequences/*

# Ignore blasts and reads results.
results/blasts/*
results/reads_outputs/*
results/test/*

# Ignore to big logs.
results/log_outputs/outMetaTest.out

# Ignore test.
results/old_tests/*
src/old_sources/*

# Ignore notes folder.
note/*

# Ignore nohup files.
*.out

# Ignore errors in racine project.
*.err

# Ignore cookie.
cookies

# Ignore .xml file.
*.xml
!data/assembly/*.xml

# Ignore results folder.
results/*
!results/plots/

# All txt and csv files.
*.csv
src/download/*.txt

# Ignore snakemake log
.snakemake/*

# Ignore password and username of jgi genome.
username
password

# ignore run snakemake in cluster
run_snakefile_cluster.sh

# Ignore data/taxonomy folder.
data/taxonomy/*

# Ignore assembly file too big.
data/assembly/fungi_files.xml